<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <application
        android:name=".app.QuitBuddyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuitBuddy">

        <activity
            android:name=".ui.export.ExportDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.achievements.AchievementsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intervention.MicroInterventionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.craving.CravingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.craving.CravingLogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notifications.ReminderReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".notifications.MilestoneReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".notifications.HighRiskReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".widget.DashboardWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

<!--        <service-->
<!--            android:name="androidx.work.impl.foreground.SystemForegroundService"-->
<!--            android:exported="false"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
<!--        <service-->
<!--            android:name="androidx.work.impl.background.systemjob.SystemJobService"-->
<!--            android:exported="false"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->

    </application>

</manifest>
